body{
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: 'Maven Pro', sans-serif;

}

h1 {
	color: white;
	font-size: 70px;
	font-weight: normal;
	margin-bottom: 0;
}



h2 {
	color: white;
	font-size: 25px;
	margin-top: 10;

}

.bio {
	color: white;
	font-size: 20px;
}

.me {
	height: 200px;
	border-radius: 100%;
	width: 200px;
	border-style: solid;
	border-color: white;
	margin-top: 40px;
}

.me:hover {
	height: 300px;
	border-radius: 100%;
	width: 300px;
	border-style: solid;
	border-color: white;
	margin-top: 20px;
}

.about {
width: 500px;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: 120px;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;